
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	padding: 1em;
}

div.row {
	margin-left: -0.1em;
	margin-right: -0.1em;
	width: 100%;
}

ul {
	list-style-type: none;
}

div.menu-item-name {
	float: right;
	border: 2px solid black;
	border-top: 0;
	border-right: 0;
	text-align: center;
	padding: 0.2em;
	opacity: 0.7;
	background-color: #336699;
	display: inline-block;
	font-weight: bold;
	font-size: 1.2em;
}

div.column {
	float: left;
	border: 0;
	padding: 0.5em;
}

div.inner-border {
	border: 2px solid black;	
	background: darkgray;
}

p.recipe {
	clear: right;
	padding: 0.2em;
}

li:nth-child(1) div.menu-item-name{
	background-color: DarkSalmon;
}

li:nth-child(2) div.menu-item-name{
	background-color: lightcoral;
}

li:nth-child(3) div.menu-item-name{
	background-color: Cornsilk;
}

@media (min-width: 992px) {
	div.col-lg-4 {width: 33.33%;}
}

@media (min-width: 768px) and (max-width: 992px){
	div.col-md-6 {width: 50%;}
	div.col-md-12 {width: 100%;}
}
  
 @media (max-width: 768px) {
	div.col-sm-12 {width: 100%;}
	h1 {padding: 0;}
}