* {
	--main-padding: 1em;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	padding: 1em;
}

div.row {
	width: 100%;
}

ul {
	list-style-type: none;
}

div.menu-item-name {
	margin: 0.5em;
}

div.inner-border h3 {
	position: absolute;
	top:0;
	right: 0;
	border: 2px solid black;
	border-top: 0;
	border-right: 0;
	text-align: center;
	opacity: 0.7;
	display: inline-block;
	font-weight: bold;
	font-size: 1.2em;
	padding: .2em;
	width: 5em;
}

div.column {
	float: left;
	border: 0;
	padding: var(--main-padding);
}

div.inner-border {
 	position: relative; 
	border: 2px solid black;	
	background: darkgray;
	padding: var(--main-padding);
	padding-top: calc(var(--main-padding) * 2 + 1em);
}

p.recipe {
	text-align: justify;
}

li:nth-child(1) div.inner-border h3{
	background-color: DarkSalmon;
}

li:nth-child(2) div.inner-border h3{
	background-color: lightcoral;
}

li:nth-child(3) div.inner-border h3{
	background-color: Cornsilk;
}

@media (min-width: 992px) {
	div.col-lg-4 {width: 33.33%;}
}

@media (min-width: 768px) and (max-width: 992px){
	div.col-md-6 {width: 50%;}
	div.col-md-12 {width: 100%;}
}
  
 @media (max-width: 768px) {
	div.col-sm-12 {width: 100%;}
	h1 {padding: 0;}
}